name: release

on:
  push:
    branches:
      - main

jobs:
  release-dogfood-to-pypi:
    runs-on: ubuntu-20.04

    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@c6295a65d1254861815972266d5933fd6e532bdf # v2.11.1
        with:
          egress-policy: audit

      - name: Checkout repository
        uses: actions/checkout@ee0669bd1cc54295c223e0bb666b733df41de1c5 # v2.7.0

      - name: Setup python 3.9
        uses: actions/setup-python@e9aba2c848f5ebd159c070c61ea2c4e2b122355e # v2.3.4
        with:
          python-version: 3.9

      - name: Publish to pypi
        uses: ./
        with:
          project-name: pypi-publish-with-poetry-dogfood
          pypi-token: ${{ secrets.PYPI_TOKEN_DOGFOOD }}
          pyproject-folder: ./pypi-publish-with-poetry-dogfood
